* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background: #0769e9;
  height: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  line-height: 80px;
}

.nav__link,
.logo {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 1.9rem;
  font-weight: bold;
}

.nav__link {
  font-size: 1rem;
  margin-left: 15px;
  font-weight: 300;
  text-transform: uppercase;
  /* width: max-content; */
  padding: 5px 10px;
}

.nav__link--active {
  background: #fff;
  color: #0769e9;
  padding: 5px;
}

/* .nav__link:hover {
  background: #034574;
  transition: 0.5s;
} */

.nav__link:not(.nav__link--active):hover {
  background: #034574;
  transition: 0.5s;
}

/*Boton de Menu*/
.nav__toggle {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #fff;
  outline: none;
  padding: 0 20px;
  line-height: 80px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 1.6rem;
  }

  .nav__toggle {
    display: inline-block;
    font-size: 2rem;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    background: #2c3e50;
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    align-items: center;
    padding: 20px 0;
    height: calc(100vh - 80px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .nav__link--active {
    background: none;
    color: #0769e9;
    padding: 5px;
  }

  .nav__link:not(.nav__link--active):hover {
    background: none;
    transition: 0.5s;
    color: #83c5f7;
  }

  .nav__links--visible {
    left: 0;
  }
}
